<% include ../layouts/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-none d-md-flex p-1">
            <div class="text-center golden-head">
                I NEED<br />CAREER<br />ADVICE
            </div>
        </div>
        <div class="d-md-none col-12 p-1">
                <div class="text-center golden-head-mobile">
                    I NEED<br /> CAREER<br /> ADVICE
                </div>
            </div>
        <div class="col-lg-6 col-12 p-1 text-center" style="color: #444;">
            <div class="right-content">Lets Find A Right Mentor</div>
            <div class="right-content">You can now choose an experienced professional, from the industry of your choice, to mentor you into building your profile and shaping your career path.</div>
            <div class="dropdown">
                <button class="golden-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Find A Mentor
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <% industries.forEach(industry => { %>
                        <a href="/mentor/show/<%= industry.name %>" class="dropdown-item"><%= industry.name %></a>    
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12" style="color:#fff;">
                <div class="text-center" style="margin: 15px; padding: 15px; background-color: #b57a34;">
                <i class="fas fa-filter" style="font-size: 4rem; margin-bottom: 15px;"></i>
                <div class="heading-3">STEP 1</div>
                <div class="para-2">Filter As Per<br/> Industry</div>
            </div> 
        </div>
        <div class="col-lg-3 col-md-6 col-12" style="color:#fff;">
                <div class="text-center" style="margin: 15px; padding: 15px; background-color: #b57a34;">
                <i class="fas fa-users" style="font-size: 4rem; margin-bottom: 15px;"></i>
                <div class="heading-3">STEP 2</div>
                <div class="para-2">Browse The<br/> Profiles</div>
            </div> 
        </div>
        <div class="col-lg-3 col-md-6 col-12" style="color:#fff;">
                <div class="text-center" style="margin: 15px; padding: 15px; background-color: #b57a34;">
                <i class="fas fa-address-card" style="font-size: 4rem; margin-bottom: 15px;"></i>
                <div class="heading-3">STEP 3</div>
                <div class="para-2">Read About The Mentor</div>
            </div> 
        </div>
        <div class="col-lg-3 col-md-6 col-12" style="color:#fff;">
                <div class="text-center" style="margin: 15px; padding: 15px; background-color: #b57a34;">
                <i class="fas fa-calendar-check" style="font-size: 4rem; margin-bottom: 15px;"></i>
                <div class="heading-3">STEP 4</div>
                <div class="para-2">Schedule An Appointment</div>
            </div> 
        </div>
    </div>
</div>

<% include ../layouts/footer %>