<% include ./layouts/header %>

<div class="container">
    <div class="text-center golden-head-mobile" style="font-size: 2.5rem !important;">
        PRIVACY POLICY
    </div>
    <br />
    <STYLE TYPE="text/css">
    <!--
        @page { margin: 1in }
        P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
    -->
    </STYLE>
    <div class="para-2">
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
            <FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U>This
                        Privacy Policy (Policy) describes GetMentored’s policies and
                        procedures on the collection, use and disclosure of your information
                        when you use our Services on the Website or otherwise. This Privacy
                        Policy is a part of and incorporated within and is to be read along
                        with the Terms of Use (Terms). </U></SPAN></FONT>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Children’s
                        Privacy</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">The
                Services are not directed to children under the age of 18, and
                GetMentored does not knowingly collect Personal Information or other
                Information from anyone under the age of 18.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Changes
                        to this Privacy Policy</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Technology
                and the Internet are rapidly changing. We may change the Services in
                the future and consequently will need to revise this Privacy Policy
                to reflect those changes. We will post the revised Privacy Policy on
                the Website. We encourage you to review this page periodically.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Third-Party
                        Links, Websites, and Apps</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">The
                Services may contain links to and from the websites or apps of other
                third parties. If you follow a link to any of these websites or apps,
                please note that these websites and apps, and any services that may
                be accessible through them, have their own privacy policies. We are
                not responsible for the privacy practices of other websites or apps.
                We encourage our users to be aware when they leave the Website and to
                read the privacy policies applicable to such third-party websites and
                apps. This Privacy Policy applies solely to information collected in
                connection with the Services.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Information
                        We Collect</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                collect certain information about users, including Personal
                Information, in order to fulfil our lawful business interests,
                including in connection with the Services. </SPAN>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">“<SPAN LANG="en-GB">Personal
                Information” is any information related to an identified or
                identifiable person, especially by reference to an identifier such as
                a name, location, email address, phone number, or other factors
                specific to a person’s identity. We collect only the information
                necessary to fulfil our lawful business interests , and keep your
                information only if is necessary to fulfil those interests. </SPAN>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                may collect information about you through the Services , that we or
                third parties collect in other contexts—such as our communications
                with you via email or phone, or your customer service records. In
                those circumstances, we will combine the additionally acquired
                information to the personal information that you had originally
                provided, and treat the combined information as personal information
                in accordance with this Privacy Policy.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">You
                can visit the Website and view the Services without providing any
                information, including Personal Information. However, if you choose
                not to provide Personal Information, we may not be able to provide
                you with access to, or use of, some of the Services. As described
                below, we do automatically collect certain information when you use
                the Services. The Services also require you to provide Personal
                Information when you register as a Member, mentor or any
                organization.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Information
                        about Members</strong></I></SPAN><SPAN LANG="en-GB">. We collect various
                types of Personal Information about Members in connection with the
                Services, including:</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Name</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Email
                        address</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Contact
                        Number</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Date
                        Of Birth</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">City
                        Of Residence</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">password</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Work[internship]
                        history</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Highest
                        education qualification</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Community
                        service history</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Awards
                        and recognitions</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Photograph</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Content
                        posted by Members</SPAN></P>
        </UL>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        about which internships have the members applied to</SPAN></P>
        </UL>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        about which volunteering organization have the members applied to</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        about which mentor, the members wants to connect with</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        that is collected additionally when the member wishes to use
                        LinkedIn and CV building services.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Payment
                        information</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        that is collected when a service is being availed/provided.</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Information
                        about Mentors</strong></I></SPAN><SPAN LANG="en-GB">. We collect various
                types of Personal Information about mentors, including:</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Name</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">City
                        of residence </SPAN>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Email
                        address</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Phone
                        number</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Company
                        and job title</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Previous
                        Work Experience</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Education
                        history [if needed]</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Awards
                        and recognitions [if any]</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Mentor
                        biography</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Financial
                        account information</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Professional
                        credentials and experience</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Photograph</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Convenient
                        mode of communication for mentoring sessions.</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                may ask for additional information about the mentors in order to
                determine whether they are a good fit for the Services. Information
                may be requested through such means as applications, telephone
                screenings, and reference checks. GetMentored makes some of the
                mentor information identified above available to Members and/or the
                public for the purpose of providing the Services. We also collect and
                retain reviews provided by Members about mentors at the completion of
                a mentoring Session.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Information
                        about [Internship] Employers</strong></I></SPAN><SPAN LANG="en-GB">. We
                collect various types of Personal Information about Employers,
                including:</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Name</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">City
                    </SPAN>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Email
                        address</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Phone
                        number</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        about the employment opportunity that is being offered </SPAN>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        pertaining to the candidate type that the organization Is looking
                        for </SPAN>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Any
                        information that GetMentored believes is crucial for users to know ,
                        in order to apply for the internship.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Relevant
                        links, if required</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Content
                        posted by Employers</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">GetMentored
                may make certain of the Employer information identified above
                available to Members and/or the public for the purpose of providing
                the Services.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Information
                        About [Volunteer] Employers. </strong></I></SPAN><SPAN LANG="en-GB">We
                collect various types of personal information about employers,
                including :</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Name</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">City</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Email
                        address</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Phone
                        number </SPAN>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        about the employment opportunity that is being offered </SPAN>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Information
                        pertaining to the candidate type that the organization Is looking
                        for </SPAN>
                </P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Any
                        information that GetMentored believes is crucial for users to know ,
                        in order to apply for the volunteer position.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Relevant
                        links, if required</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Content
                        posted by Employers</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Surveys</strong></I></SPAN><SPAN
                LANG="en-GB">.
                From time to time, we may ask our users to participate in surveys,
                contests, or promotions, which may be used to collect Personal
                Information. Participation is completely voluntary and declining to
                participate will not impact your use of the Services.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Payment
                        Information</strong></I></SPAN><SPAN LANG="en-GB">. We collect certain
                payment and billing information when you purchase paid Services. You
                might also provide&nbsp;payment information, such as payment card
                details, which we collect via secure payment processing services we
                use to manage credit card processing and we do not store it on our
                servers.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Sensitive
                        Information</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                do not knowingly collect, and we ask that you do not send/disclose,
                any sensitive Personal Information on or through the Services. Such
                information includes, but is not limited to, identity card numbers,
                financial account information (except for payment information as
                required), and information related to or revealing racial or ethnic
                origin, political opinions, religion or other beliefs, health,
                criminal background etc..</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Contact
                        Information; Questions or Comments</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">If
                you have any questions or comments regarding our privacy practices or
                this Privacy Policy, please send us an email at info@getmentored.in
                or contact us at 9372223442.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Your
                        Choices and Access to Information</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">You
                have the following choices with respect to your Personal Information:</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">The
                        right to access your Personal Information that is stored as part of
                        your User Account at all times;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">The
                        right to update your Personal Information by emailing us or, where
                        appropriate, amending the personal details contained in your User
                        Account with us. If practically possible, we will make corrections
                        (where appropriate) based on your updated information;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">The
                        right to request deletion of your Personal User Account.</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">If
                you want to learn more about the Personal Information that
                GetMentored has about you, or you would like to exercise your choices
                regarding your Personal Information, including updating or changing
                that information, please contact us by email at&nbsp;info@getmentored.in</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">If
                you no longer want to receive marketing communications from
                GetMentored, please follow the “unsubscribe” instructions that
                are included at the bottom of each message. Please note that if you
                unsubscribe from our marketing communications, you will still receive
                administrative messages.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Please
                note that due to technical reasons there will likely be a delay in
                accessing or deleting your Personal Information from our systems if
                you request it. We also will retain personal Information in order to
                comply with the law, protect our and others’ rights, resolve
                disputes or enforce our legal terms or policies, to the extent
                permitted under applicable law.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Please
                also note that we reserve the right to anonymise the data collected
                from the Website or through the Services including your personal
                information for analytical or other research purposes and you
                disclaim all rights against such anonymised data. </SPAN>
        </P>
        <P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">How
                        We Use Information</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                may use information, including your personal information, for a
                variety of purposes, as described below.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                use the Personal Information that we collect about Registered users
                to: </SPAN>
        </P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Provide
                        the Services to you and other users;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Fulfil
                        the terms of any agreement you have with us, respond to your
                        requests, or otherwise complete a transaction that you initiate,
                        including payment processing;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Review,
                        evaluate, and verify the credentials and experience of mentors,
                        including reference checks;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Post
                        internship notices and other relevant information pertaining to the
                        same;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Transmit
                        or redirect Members’ internship applications to Employers;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Post
                        community service notices and other relevant information pertaining
                        to the same.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Transmit
                        or redirect Member’s volunteering application to the organization.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Send
                        administrative communications related to the Services;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Communicate
                        with users through email notices, newsletters, and updates,
                        including promotional communications about topics, jobs, and
                        services that we believe will be of interest to users;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Administer
                        surveys, contests, or promotions, seminars</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Engage
                        in analysis and research concerning the Services, improve users’
                        experiences with the Services, and otherwise enhance the quality of
                        our services;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Comply
                        with legal and/or regulatory requirements, or to protect our rights
                        and interests, as described below in the “Legal Purposes”
                        subsection of this Policy;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Compile
                        and share aggregated information;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Count
                        and recognize visitors to the Services and analyse how visitors use
                        the Services;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Engage
                        in analytics or targeted advertising as described in the
                        “Third-Party Analytics and Targeted Advertising” section below;
                        and</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">For
                        any other business purpose permitted by law.</SPAN></P>
        </UL>
        <P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in">
            <BR><BR>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Who
                        Uses Our Services</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                make our Services available to different types of users. As discussed
                further below, the information that the Services collect from and
                share about a user may depend on the user type. An individual may be
                one or more of these types of users depending on the nature of his or
                her interactions with our Services.</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><strong class="bold">Author</strong></SPAN><SPAN
                        LANG="en-GB">:
                        An individual who drafts articles, posts content or creates other
                        content displayed on the Website.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><strong class="bold">Mentor</strong></SPAN><SPAN
                        LANG="en-GB">:
                        An individual who has his/her profile available on our website and
                        agrees to perform the mentoring services to the members, who request
                        for the same.</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><SPAN LANG="en-GB">A
                user (you) can access the mentor information [Name, Photograph,
                Relevant career related information, relevant educational
                qualifications, City of residence] through the website but are
                required to not share it with anyone else without express permission
                from GetMentored.</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><strong class="bold">Internship
                            Employer</strong></SPAN><SPAN LANG="en-GB">: An entity that has an
                        employer profile on the Website, posts relevant internship
                        notices/information on the Website, receives relevant applicant
                        information by GetMentored.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><strong class="bold">Volunteer
                            Employer</strong></SPAN><SPAN LANG="en-GB">: An entity that has an
                        employer profile on the website, posts relevant volunteering
                        notices/information on the Website, receives relevant applicant
                        information by GetMentored.</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><strong class="bold">Member</strong></SPAN><SPAN
                        LANG="en-GB">:
                        An individual who is registered on our website and wishes to avail
                        any service.</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">How
                        We Share Information with Third Parties</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                may share information with third parties, including Personal
                Information, for a variety of purposes, as described below.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Affiliates</strong></I></SPAN><SPAN
                LANG="en-GB">.
                We may share information, including Personal Information, with our
                affiliates for the purposes described in this Privacy Policy.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Third-party
                        service providers</strong></I></SPAN><SPAN LANG="en-GB">. We use
                third-party service providers to help us manage and improve the
                Services. We provide these parties with only the information they
                need to perform their services and work closely with them to ensure
                that your privacy is respected and protected. We also may share your
                information to enable us to reach you with our advertising on a
                third-party platform (such as Facebook’s “Custom Audiences”
                tool). For more information about our practices with respect to
                interest-based advertising and how to opt out, please see the section
                below titled “Third-Party Analytics and Targeted Advertising.”</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Other
                        users of the Services</strong></I></SPAN><SPAN LANG="en-GB">. We may share
                information, including Personal Information, with other users of the
                Services where appropriate. For example, if you submit information to
                us or complete an application, we may share that information with an
                Employer who will then review and evaluate your application. </SPAN>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Your
                        direct sharing of Personal Information through the Services and
                        third-party websites and services</strong></I></SPAN><SPAN LANG="en-GB">.
                The Services may enable you to share Personal Information directly
                through the Services or through a third-party. For example, the
                Services may allow a Member to post queries on the student hub, which
                is visible to users . In addition, the Services may contain links to
                third-party websites that incorporate social media features,
                including the Facebook “like” button. If you choose to use these
                features, you may disclose your Personal Information not just to
                those third-party websites and services, but also to their users and
                the public more generally. Because these third-party websites and
                services are not operated by GetMentored, we are not responsible for
                the content or practices of those websites or services. The
                collection, use, and disclosure of your information will be subject
                to the privacy policies of the third-party websites or services, and
                not this Privacy Policy.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Third-party
                        plugins</strong></I></SPAN><SPAN LANG="en-GB">. The Services may integrate
                certain third-party plug-ins (such as a Facebook “like” button).
                Even if you do not click on these plug-ins, they may collect
                information about you, such as your IP address and the pages that you
                view. They also may set and/or access cookies. These plugins are
                governed by the privacy policy of the company providing them.</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">Legal
                        purposes</strong></I></SPAN><SPAN LANG="en-GB">. We also may use or share
                your information, including Personal Information, with third parties
                when we believe, in our sole discretion, that doing so is necessary:</SPAN></P>
        <UL>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">To
                        comply with applicable law or a court order, request from government
                        or law enforcement, or other legal process;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">To
                        investigate, prevent, or take action regarding illegal activities,
                        suspected fraud, violations of our terms and conditions, or
                        situations involving threats to our property or the property or
                        physical safety of any person or third party;</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">To
                        establish, protect, or exercise our legal rights or defend against
                        legal claims; or</SPAN></P>
            <LI>
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">To
                        facilitate the financing, securitization, insuring, merger,
                        acquisition, sale, assignment, bankruptcy, or other disposal of all
                        or part of our business or assets. In the event of an actual sale,
                        merger, reorganization, dissolution or similar event relating to all
                        or a portion of our business or assets, your information, including
                        Personal Information, may be part of the transferred assets.</SPAN></P>
        </UL>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><I><strong class="bold">De-identified
                        or anonymised or aggregated information</strong></I></SPAN><SPAN LANG="en-GB">.
                We also may compile and share de-identified or aggregated information
                about users of the Services, such as by publishing a report on trends
                in the usage of the Services or sharing aggregated information about
                historical and real-time trends in employment. We also may share
                de-identified or anonymised or aggregated information about the
                numbers, types, or origins of users who submit job applications on
                the sites of our business partners or who click on our business
                partners’ links on the Services (such as a job posting or article).</SPAN></P>
        <P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Student
                        Hub</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                are not responsible for the personal information that you share on
                the student hub. We request you to use sole discretion before
                choosing to share any personal information on the student hub. The
                student hub is accessible by anyone who visits our site and we hold
                no responsibility for the information that is shared on the same.</SPAN></P>
        <P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Third-Party
                        Analytics and Targeted Advertising</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
                partner with certain third parties to collect information to engage
                in analytics, auditing, research, and reporting. These third parties
                may use web logs, pixel tags, or similar online tracking mechanisms,
                and they may set and access cookies on your computer or other device.
            </SPAN>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">The
                Services also may enable third-party tracking mechanisms to collect
                information on our Services over time and across unaffiliated
                websites for use in online behavioural advertising. For example,
                third parties may use the fact that you visited the Services to
                target online ads for the Services to you on websites that are not
                affiliated with GetMentored</SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">In
                addition, our third-party advertising partners might use information
                about your use of the Services to help target advertisements
                unrelated to GetMentored, based on your online behaviour in general. </SPAN>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">The
                use of online tracking mechanisms by third parties is subject to
                those third parties’ own privacy policies, and not this Privacy
                Policy. If you prefer to prevent third parties from setting and
                accessing cookies on your computer, you may set your browser to block
                cookies. </SPAN>
        </P>
        <P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
        </P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><U><strong class="bold">Security</strong></U></SPAN></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Notwithstanding
                anything stated above, GetMentored uses physical, electronic, and
                procedural safeguards to protect your information against loss or
                unauthorized access, use, modification, or deletion. However, no
                security program is 100% secure, and thus we cannot guarantee the
                absolute security of your information.</SPAN></P>
        <P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
        </P>
        <P STYLE="margin-bottom: 0.11in">Note- The words “Partner” and
            “Affiliate” may be used interchangeably.</P>
    </div>
</div>

<% include ./layouts/footer %>