<% include ./layouts/header %>

<div class="container">
    <div class="text-center golden-head-mobile" style="font-size: 2.5rem !important;">
        TERMS OF USE
    </div>
    <br />
    <STYLE TYPE="text/css">
    <!--
        @page { margin: 1in }
        P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
        A:link { so-language: zxx }
    -->
    </STYLE>
    <div class="para-2">
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U>
These ‘terms of use’ govern the services provided by GetMentored, a
proprietory service model created and wholly owned by Siya Chaudhari.
If you click on the register button below you will be deemed to be
competent to contract, of majority age and deemed to have read, understood,
accepted and be bound by all the terms of this agreement.
</U></SPAN></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold"><SPAN STYLE="background: #ffffff">Services.</SPAN></strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><SPAN STYLE="background: #ffffff">The
“Services” collectively include but are not limited to internship
application services, volunteer application services, mentorship
sessions, student hub, profile building etc., which are all listed on
the “Website” (i.e. </SPAN></SPAN></FONT></FONT><A HREF="http://www.getmentored.in"><FONT COLOR="#0000ff"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><SPAN STYLE="background: #ffffff">www.getmentored.in</SPAN></U></SPAN></FONT></FONT></A><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><SPAN STYLE="background: #ffffff">).
The Services</SPAN></SPAN></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><SPAN STYLE="background: #ffffff">&nbsp;include
the Website, because the different services are hosted on it. The
Website includes all webpages, subdomains, and any successor or
affiliated websites, emails, and other communications, user accounts,
Content etc. displayed on the browser and containing the
‘GetMentored’ design/ logo/ copyright. “Content” means any
and all text, articles, images, videos, graphics, software, music,
audio, information, or other materials appearing on the Website,
including, without limitation, information about employers,
information about mentors, or other content located on student hub,
whether created or posted by you, GetMentored, or any other user and
the same is owned by GetMentored at all times. GetMentored is free to
add/ delete or vary any of the Services in any manner deemed fit and
you are not entitled to any notice thereof. If you have already
subscribed for a service, you will receive communication regarding
the variations but you shall have no claims thereof. </SPAN></SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Paid/Free
Services.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Get
Mentored will provide a variety of services that will either be free
to use (“Free Services”), or that may require you to pay a fee
(“Paid Services”). We reserve the right to charge for Free
Services or change the price for Paid Services, at any time. If you
purchase any of our Paid Services, you agree to pay us the applicable
fees and taxes. You also agree to any additional terms that we may
notify as applicable to the Services. You hereby authorize the
collection of such amounts either directly by GetMentored or
indirectly via a third-party payment processor. Failure to pay these
fees will result in the immediate termination of the subjected Paid
Service. If you are directed to a third-party payment processor, you
may be subject to terms and conditions governing the use of that
third-party’s service and that third-party’s personal information
collection practices. Get Mentored will not be responsible for the
said third-party’s services. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
or its third-party payment processor may store and continue billing
your payment method (e.g., credit card), to charge you for other Paid
Services you may buy. Please see the privacy policy regarding the
terms and conditions, which are applicable to your data. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Modifications.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
may update or modify these Terms from time to time. We will give you
notice of the changes by posting an updated version of these Terms
online. We request you to visit this page periodically to be updated
about these terms. Changes to these Terms will be effective as of the
date we post them or otherwise notify you of them, unless we specify
a different effective date when we make a change. Your continued use
of the Services will constitute your acceptance of the changes. If
you do not agree to a change, you must stop using the Services.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
may modify, add to, suspend, or discontinue the Services or certain
features of the Services, or remove any Content at any time for any
reason, without prior notice to you. Unless expressly stated
otherwise, any new feature that augments, enhances, or otherwise
modifies the Services is subject to these Terms.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Accounts.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">While
you are not required to provide your personal information to us,  </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><FONT SIZE=3><SPAN LANG="en-GB">Every
user of the Services on the Website, is required to create an account
(a “GetMentored Account”) without which GetMentored will be
unable to provide its Services. </SPAN></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Your
GetMentored Account is for your personal, non-commercial use only and
you must provide complete and accurate information when creating a
GetMentored Account. You are responsible for maintaining the
confidentiality and security of your account information, including
any  passwords, and are solely responsible for the activity that
occurs on your GetMentored Account. You may not create an account for
someone else or allow someone else to use your GetMentored Account.
You agree to notify us immediately of any actual or suspected
unauthorized access to or use of your account or password or any
breach of security related to your GetMentored Account. If your
GetMentored Account has been cancelled by us, or you have been
removed or otherwise blocked from the Website due to a violation of
these terms (including the Code of Conduct) or for any other reason,
you may not continue to use the Services.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">You
may cancel your GetMentored Account at any time by sending an email.
If your GetMentored Account is cancelled, we have no obligation to
maintain, delete or return to you any Content or personal information
data you have posted through your use of the Services. The Privacy
Policy, available on the Website, will govern your data. </SPAN></FONT></FONT>
</P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Internship
Applications.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><FONT SIZE=3><SPAN LANG="en-GB">GetMentored
allows users to get an opportunity to browse open positions for
internships, and apply </SPAN></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">for
the</SPAN></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><FONT SIZE=3><SPAN LANG="en-GB">
said internships.</SPAN></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">
Once an application gets acknowledged by GetMentored, we shall
redirect you via mail to the official employer website, wherein you
can complete your application and we will work back end as
coordinators between you and the employer to ensure there is a smooth
application process. However, this does not include vetting of your
applications or your CV unless paid for separately.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
inclusion of any such link to a third-party website does not imply
any association between us and their operators. Your use of any
third-party websites is governed by the terms of such third-party
websites and not by these Term</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
status with regards to your application shall be visible on your
student profile, once you log in to your account.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%"><A NAME="_Hlk10245265"></A>
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
are solely a platform that helps users apply to organizations to
intern. We take no responsibility for any communication/misconduct
between the user and organization. We do not represent the
organization and hence are not liable for any actions done by the
organization or their representatives. You will opt for the said
internship at your sole discretion and after performing the requisite
due diligence. GetMentored takes no responsibility for the quality/
duration and other aspects of the internship. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Your
application details, including personal information, may be shared
with the organisation you apply to.</SPAN></FONT></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Mentorship
Sessions:</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333">‘<FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Mentorship
sessions’ is a Paid Service that can connect you (i.e. the Mentee)
to dedicated industry experts who will help you understand and guide
you in crucial career decisions. You can choose a mentor from the
industry of your liking and read about them before making a request
to schedule an appointment. Mentorship Sessions must be scheduled in
advance and will need to be purchased individually.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
mentorship session will be scheduled within 1 week of your request.
The status of the request is visible on the student profile and the
concerned mentor profile. The mentorship session shall be confirmed
once the mentee pays the applicable fee for the session. However, if
there is unavailability on the part of the Mentor due to
unforeseeable circumstances, your fee will be reversed immediately in
the said circumstance. You shall have no further claims against
GetMentored. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">It
is agreed that if you miss an appointment or fail to give at least 48
hours-notice of cancellation, the fees you paid for the Mentorship
session will be forfeited.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">It
is to be noted that Mentors are consultants who have offered to
provide mentorship for users through the GetMentored Website, for
those who might opt for it. They are not employees or agents of
GetMentored. GetMentored takes no responsibility for the quality of
consultation provided </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><FONT SIZE=3><SPAN LANG="en-GB">The
mentorship session can be conducted in person/over call/email.
Depending on the convenience and acceptability between the mentors
and mentee. The applicable fee varies on the mode of communication
between the mentee and mentor.</SPAN></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><FONT SIZE=3><SPAN LANG="en-GB">Our
team shall have an assigned coordinator between the mentor and
mentee, who will be scheduling and confirming the mentorship session.
Our coordinator will be communicating over phone/email/in person. </SPAN></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
may also have a member from our team accessing the mentorship session
for safety and quality purposes. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
fee is split between the mentor and GetMentored, and the applicable
amount is transferred to the concerned mentor at the end of the
month.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">For
as long as GetMentored offers the mentorship service, you hereby
agree not to hire or otherwise engage with any Mentor to whom you are
introduced via the Website other than directly through the Website.
To the extent you breach the foregoing restriction, you and the
applicable Mentor shall be jointly and severally liable for any
losses incurred by us as well as liquidated damages in the amount of
Rs Ten Thousand per breach, and GetMentored will have no obligations
or liability whatsoever in respect of any such engagements.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
is solely a platform allowing users to connect with a mentor of their
choice. GetMentored holds no obligation/responsibility /liability
whatsoever for any engagement between the mentor and the user.</SPAN></FONT></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Student
Hub:</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
student hub is a one of its kind networking platform provided by
GetMentored, that allows users (you) to interact and connect with
each other, in order to help each other solve career related queries
or join hands in working on a project together.  Unless you create a
GetMentored Account, you may not participate in the student hub. The
post can be edited by the user who posted it up on the website.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
ask that you treat the GetMentored “student hub” community with
respect. Spam, personal attacks, and abusive language do not have a
place on the platform. By accessing, viewing, or submitting Content
on or to the Student Hub, you also agree to abide by the Code of
Conduct located below. If you ever stumble across anything on the
Student Hub, that looks like it violates these Terms or the Code of
Conduct, please be sure to&nbsp;</SPAN></FONT></FONT><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">inform
us.</SPAN></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">
GetMentored reserves the right to take down any content from the
Student Hub that is violative of these terms or any law for the time
being in force. Also, strict action including blocking of your
account may be undertaken for multiple violations of these terms.
However, all legal responsibility for the content continues to lay on
the creator/ poster of the content, who shall be solely prosecuted if
required, under the applicable law. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
may choose to moderate and/or curate content posted on the Student
Hub and all related Content in its sole discretion. Any user with a
GetMentored Account may post or comment on any post. GetMentored
reserves the right to delete any post, if it feels so. We reserve the
right to deny a post at any time. Any Content you post will be
viewable by other users of the Services. You should only post Content
that you are comfortable sharing with others under these Terms.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
do not endorse or represent any user. We take no responsibility for
any kind of engagements/communication between the users on the
platform. We are not responsible for any misconduct by a user. You
are solely responsible for any projects undertaken through
connections developed at the Student Hub. User discretion is advised
before entertaining or entering into engagements. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><FONT SIZE=3><SPAN LANG="en-GB">Student
Hub is solely a networking platform and GetMentored takes no
responsibility for any communication between users.</SPAN></FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">
We take no responsibility for the information that is shared on the
student hub. The student hub is accessible to anyone who visits our
site and GetMentored takes no responsibility for the misuse of the
information that is publicly shared on this platform. We request you
to use your discretion before choosing to share any personal
information on the student hub.</SPAN></FONT></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">CV
and LinkedIn</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
shall build/modify a user’s CV and LinkedIn profile for a fee (Paid
Service). The service will only be delivered when the applicable fees
is paid to GetMentored, by the user.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
request will have to be made on the Website by you, and the status of
the request shall be visible on your profile. Further co-ordinations
shall take place over mail/call between you and GetMentored.</SPAN></FONT></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Volunteer
Applications.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
allows users to apply to various organizations to volunteer for
community service of their preference. However, this does not include
vetting of applications or CV unless paid for separately. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
will acknowledge your application and we shall redirect you </SPAN></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><I>via
</I></SPAN></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">mail
or any other communication method, to the official organization page,
wherein you can complete your application. GetMentored will work back
end as coordinators between you and the organization to ensure there
is a smooth application process. The inclusion of any such link to a
third-party website does not imply any association between their
operators and us. Your use of any third-party websites is governed by
the terms of such third-party websites and not by these Terms. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
are solely a platform that helps you apply to organizations where you
may volunteer. We take no responsibility for any communication
between you and the organization. We do not represent the
organization and hence are not liable for any actions done by the
organization or their representatives. We do not take any
responsibility for the quality of the experience you might have with
the organisation or their terms. User discretion is advised before
opting for any volunteering opportunity. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%"><A NAME="_Hlk11078753"></A>
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Your
application details, including personal information, may be shared
with the organisation you apply to.</SPAN></FONT></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Links
to Third-Party Sites.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
Website may direct you via hyperlinks or otherwise, to third-party
websites that are not owned or maintained by The GetMentored. We are
not responsible for your use of such third-party websites and we make
no representations whatsoever concerning the content or accuracy of,
opinions expressed in, or other links provided by such websites. The
inclusion of any such link to a third-party website does not imply
any association between their operators and us. Your use of any
third-party websites is governed by the terms of such third-party
websites and not by these Terms.</SPAN></FONT></FONT></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Code
of Conduct.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
allows you to use the Services and post Content for a variety of
purposes. You understand and agree that you are solely responsible
for compliance with any and all applicable laws, rules, regulations,
and tax obligations that may apply to your use of the Services. In
connection with your use of the Services, you may not and you agree
that you will not:</SPAN></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Violate
	any local, state, national, or other law or regulation, or any order
	of a court that is applicable.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Run
	any bots, spiders, scrapers, web crawlers, indexing agents, or other
	software to aggregate or browse our Content, including, without
	limitation, company or user accounts or profiles, or otherwise
	interfere with or circumvent the integrity of the Website or
	Services.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Introduce
	any viruses, trojan horses, worms, time bombs, cancelbots, corrupted
	files, or similar software to the Website or Services or transmit
	any other computer programming routines that may damage, interfere
	with, or surreptitiously intercept any data, or personal
	information.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Use
	the Services to transmit, distribute, post, or submit any
	confidential information concerning any other person or entity,
	including, without limitation, photographs of others without their
	permission, personal contact information or credit card, debit card,
	or bank account numbers.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Stalk
	or harass, interfere with, or disrupt the access of any user of the
	Services, or collect or store any personally identifiable
	information about any other user without explicit consent from the
	user.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Defame,
	defraud, mislead, or impersonate any person or entity, or otherwise
	misrepresent yourself or your affiliation with any person or entity.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Post
	false information, including, without limitation, in respect of a
	job, entity, organization, or your own credentials as a job
	applicant.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Infringe,
	violate, or otherwise interfere with any copyright, trademark, or
	other intellectual property rights of another party.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Act
	in any manner which, in our sole discretion, is objectionable,
	interferes with the proper working of the Services, or which may
	affect our reputation in any way.</SPAN></FONT></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
	<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">Try
	to contact any Mentor or Student outside of the GetMentored
	framework in any circumstances including contacting the mentors at
	unreasonable times.  </SPAN></FONT></FONT>
	</P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Termination
</strong></U></SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">It
is agreed that if you violate any of the terms herein then you would
liable for such breach by paying liquidated damages as provided for
the stated breach. GetMentored reserves all rights to forfeit any
fees paid by you or immediately cancel your account or refuse to
provide specific Services to you if you violate any of the terms
herein including the Code of Conduct. GetMentored reserves the right
to blacklist you and/or take any other steps deemed necessary in
business and/ or social interest upon your violation of these terms. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"> </FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Confidentiality
and Intellectual Property </strong></U></SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
is a proprietary platform and GetMentored/ Siya Chaudhari owns all
content/ designs/ logos etc. on the Website. Any unauthorised use
thereof or misrepresentations thereto shall make you liable for
violating the concerned intellectual property owned by GetMentored
such as copyright/ trademark etc. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%"><A NAME="_GoBack"></A>
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">You
shall also maintain utmost confidentiality of the information of the
Mentors and shall not share any of their personal information with
anyone without GetMentored’s expressed written consent. You shall
not attempt to replicate the framework of GetMentored for your own
business interests till at least a year from the date of the
severance of your relationship with GetMentored. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">We
reserve the right to use the data we collect from you for research,
analysis and other purposes concerning the providing of Services by
GetMentored. We shall also be obligated to share your information
with the concerned authorities if so ordered under any applicable law
and you disclaim all rights thereof. </SPAN></FONT></FONT>
</P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<BR><BR>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Disclaimers.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
disclaimers in this section apply to the maximum extent allowable
under applicable law.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">You
are solely responsible for your use of the Services and we are not
responsible for the activities, omissions, or other conduct, whether
online or offline, of any other user, mentor or organization. You are
solely responsible for ensuring that your use of the Services is in
compliance with all laws, rules, and regulations applicable to you.
We make no representations concerning any Content contained in or
accessed through the Services.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">The
Services are provided “as is” and without warranty of any kind,
whether expressed or implied, including the warranties or conditions
of merchantability, fitness for a particular purpose, accuracy, or
non-infringement, all of which are expressly disclaimed. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.1in; background: #ffffff; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">GetMentored
does not warrant that: (a) the Services will be secure or available
at any particular time or location; (b) the Services will function
without errors; (c) any defects or errors will be corrected; (d) any
Content or software available at or through the Services is free of
viruses or other harmful components; or (e) the results of using or
relying on any Content or Services or advice contained therein will
meet your requirements or produce desired results. Your use of, or
reliance on, the Services or any Content is solely at your own risk.</SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB"><U><strong class="bold">Indemnification.</strong></U></SPAN></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><SPAN LANG="en-GB">You
agree to indemnify, defend and hold harmless, GetMentored, its
affiliates and each of their respective principals, shareholders,
agents, officers, directors, consultants, and employees from or
against third-party claims, damages, payments, deficiencies, fines,
judgments, settlements, liabilities, losses, costs, and expenses
arising from or relating to any third-party claim, suit, action or
proceeding arising out of or related to your use or purchase of the
Services, your violation of the rights of any third-party or person,
or your breach of these Terms or any representation or warranty
contained herein. </SPAN></FONT></FONT>
</P>
<P ALIGN=JUSTIFY STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<FONT COLOR="#333333"><FONT FACE="Calibri Light, serif"><FONT SIZE=3><SPAN LANG="en-GB">GetMentored
reserves the right, at your expense, to assume the exclusive defence
and control of any matter for which you are required to indemnify
GetMentored, and you agree to cooperate with GetMentored’s defence
of these claims. GetMentored will use reasonable efforts to notify
you of any such claim, action, or proceeding upon becoming aware of
it.</SPAN></FONT></FONT></FONT></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><A NAME="_Hlk11166785"></A>
<SPAN LANG="en-GB"><U><strong class="bold">Notes :</strong></U></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB"><BR>Any
service can be viewed by the website visitor. To make a request to
avail a service, you must have an account created on the website.</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Our
coordinators shall get in touch using the official email id and phone
number that is listed on the website. We are not responsible for any
communication from other email ids/numbers.</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">Our
paid services are only the mentorship sessions and Profile Building.</SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><SPAN LANG="en-GB">We
are not responsible/liable for any communication between users on the
platform or between a mentor and user.</SPAN></P>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
    </div>
</div>

<% include ./layouts/footer %>