@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,600');

* {
    font-family: 'Noto Serif TC', serif;
}

.multiline {
    white-space: pre-wrap;
}

.footer {
    font-family: Arial, Helvetica, sans-serif !important;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333;
    color: #fff;
}

.icon {
    font-size: 1.8rem;
    color: #fff !important;
    margin-left: 5px;
    margin-right: 5px;
}

.heading-1 {
    font-weight: 300;
    font-size: 2.5rem;
}

.heading-2 {
    font-weight: 300;
    font-size: 2rem;
}

.heading-3 {
    font-weight: 300;
    font-size: 1.5rem;
}

.heading-4 {
    font-weight: 300;
    font-size: 1.2rem;
}

.para-0 {
    font-weight: 300;
    font-size: 2.2rem;
}

.para-1 {
    font-weight: 300;
    font-size: 1.3rem;
}

.para-2 {
    font-weight: 300;
    font-size: 1.1rem;
}

.para-3 {
    font-weight: 300;
    font-size: 1rem;
}

.navbar {
    /* position: fixed !important; */
    width: 100%;
    top: 0;
    z-index: 1;
}

.body-content {
    width: 100%;
    /* margin-top: 56px; */
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free" !important;
}

.table-text-centered td {
    text-align: center;
}

.table-text-centered th {
    text-align: center;
}

.table-no-padding td {
    padding: 0;
}

.table-no-padding th {
    padding: 0;
}

.card-hoverable:hover {
    box-shadow: 0 1px 10px 0 rgba(144, 170, 247, 1);
}

.jumbotron {
    border-radius: 0 !important;
}

.dropdown-toggle::after {
    display: none;
}

.golden-head {
    font-size: 4rem !important;
    color: #b38a4c !important;
    padding-top: 50px !important;
}

.golden-head-mobile {
    font-size: 2.5rem !important;
    color: #b38a4c !important;
    padding-top: 50px !important;
}

.golden-head-small {
    font-size: 2rem !important;
    color: #b38a4c !important;
    padding-top: 50px !important;
}

.right-content {
    font-size: 1.2rem !important;
    padding: 40px 20px 20px 20px !important;
    font-weight: 300 !important;
}

.golden-button {
    text-decoration: none !important;
    border-radius: 0px !important;
    color: #fff !important;
    background-color: #b38a4c !important;
    outline: none !important;
    border: none !important;
    margin: 40px 20px 20px 20px !important;
    font-weight: 300 !important;
    padding: 15px !important;
    width: 200px !important;
}

.bold {
    font-weight: 600 !important;
}

.dark-gray {
    color: #555 !important;
}

.dark-gray:hover {
    color: #000 !important;
}

.required:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.golden-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    background-color: #b38a4c !important;
    height: 100%;
    /* padding-top: 30px !important;
    padding-bottom: 30px !important; */
}

.margin-b {
    margin-bottom: 30px;
}

/* .custom-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10000;
}

.body-content {
    margin: 125px;
} */



.loading {
    height: 0;
    width: 0;
    margin: 25px;
    padding: 35px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 500px;
    -webkit-animation: rotate 1s infinite linear;
    /* left, top and position just for the demo! */
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
}

@-webkit-keyframes rotate {

    /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
    100% {
        -webkit-transform: rotate(360deg);
    }
}