<% include ../layouts/header %>

<!-- <video autoplay loop id="home-video" width="100%">
    <source src="https://drive.google.com/uc?authuser=0&id=1XHOFDyHBbCN5hWk0B_07DarljSrLp329&export=download" type="video/mp4">
</video> -->

<div class="container">
    <% include ../layouts/messages %>
    <div class="container col-lg-6 col-xs-10" style="display: flex; justify-content: center;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol> -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 h-100" src="/assets/home/industry-experts.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 h-100" src="/assets/home/interview.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 h-100" src="/assets/home/professionals.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<p class="text-center mt-3">
    <a href="#headerPopup" id="headerVideoLink" class="btn btn-outline-danger">
        <i class="fa fa-play-circle" aria-hidden="true">&nbsp;&nbsp;</i>KNOW US BETTER
    </a>
</p>
<div id="headerPopup" class="mfp-hide">
    <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/VM0WUIHhArI"
        frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
</div>

<style>
    #headerPopup {
        width: 75%;
        margin: 0 auto;
    }

    #headerPopup iframe {
        width: 100%;
        margin: 0 auto;
    }
</style>

<!-- <div class="embed-responsive embed-responsive-16by9 container col-12 col-md-10 col-lg-8">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VM0WUIHhArI?rel=0&version=3&autoplay=1&controls=0&&showinfo=0&loop=1" frameborder="0"
        allowfullscreen></iframe>
</div> -->

<!-- page header -->
<!-- <div class="jumbotron text-center px-0 py-3 m-0" style="background-color:#646464">
    <div class="golden-head m-0 p-0 d-none d-lg-block">GET MENTORED</div>
    <div class="golden-head-mobile m-0 p-0 d-lg-none">GET MENTORED</div>
</div> -->

<!-- page sections -->
<div class="container">
    <div class="text-center">
        <div class="golden-head-mobile" style="padding-bottom: 20px; padding-top:0px !important;">What The Facts!<br />
        </div>
    </div>
    <ul>
        <li class="para-2">Average age of start-up founders is 28. Of which, 9% are women.
            Start-ups in India see 108% growth in funding.</li><br />
        <li class="para-2">India is globally the 3rd largest start-up hub.
            Silicon Valley, USA being the first
            London, U.K. being the second.</li><br />
        <li class="para-2">Only 47.38% Indian graduates employable.</li><br />
        <li class="para-2">8 in 10 employees are dissatisfied with their jobs, and 7 in 10 feel that the influx of
            technology is adding to job dissatisfaction.</li><br />
        <li class="para-2">According to a survey, skilled volunteer work — such as helping a non-profit with its
            finances — makes job applicants look more appealing to a hiring manager.</li><br />
        <li class="para-2">Research states - Management internships are most demanded, as compared to the
            other fields.</li><br />
        <li class="para-2">"More than 70 per cent of professionals in their early 20's and 30's say they are
            keen on seeking advice on their next career move but do not know where to go for
            answers", according to a survey.</li><br />
    </ul>
    <!-- <br /> -->
    <!-- <div class="para-2 mb-5 pb-3">Discover Our Expertise</div> -->
</div>
<!-- <div class="text-center">
    <div class="golden-head-small mt-5 pt-5">GET MENTORED SERVICES</div>
    <br />
    <div class="para-2 mb-5 pb-3">Discover Our Expertise</div>
</div>

<div class="container">

    <div class="row mb-0 text-center">
        <div class="col-12 col-lg-6 margin-b order-0">
            <img src="/assets/student/home/001.jpeg" class="img-cover">
        </div>
        <div class="col-12 col-lg-6 margin-b order-1">
            <div class="golden-back">
                <div class="heading-3 mb-4 pt-5">FIND THE RIGHT MENTOR</div>
                <div class="para-2 pb-5">Achieve Your Goals</div>
            </div>
        </div>
    </div>

    <div class="row mb-0 text-center">
        <div class="col-12 col-lg-6 margin-b order-1">
            <div class="golden-back">
                <div class="heading-3 mb-4 pt-5">GET YOUR PROFILE BUILT AND MODIFIED</div>
                <div class="para-2 pb-5">Expert Guidance</div>
            </div>
        </div>
        <div class="col-12 col-lg-6 margin-b order-0 order-lg-2">
            <img src="/assets/student/home/002.jpeg" class="img-cover">
        </div>
    </div>

    <div class="row mb-0 text-center">
        <div class="col-12 col-lg-6 margin-b order-0">
            <img src="/assets/student/home/003.jpeg" class="img-cover">
        </div>
        <div class="col-12 col-lg-6 margin-b order-1">
            <div class="golden-back">
                <div class="heading-3 mb-4 pt-5">INTERN AT THE BEST ORGANIZATIONS</div>
                <div class="para-2 pb-5">Grow Your Business</div>
            </div>
        </div>
    </div>

    <div class="row mb-0 text-center">
        <div class="col-12 col-lg-6 margin-b order-1">
            <div class="golden-back">
                <div class="heading-3 mb-4 pt-5">NETWORK AND EXECUTE A PROJECT</div>
                <div class="para-2 pb-5">Achieve Your Goals</div>
            </div>
        </div>
        <div class="col-12 col-lg-6 margin-b order-0 order-lg-2">
            <img src="/assets/student/home/001.jpeg" class="img-cover">
        </div>
    </div>
    
    <div class="row mb-0 text-center">
        <div class="col-12 col-lg-6 margin-b order-0">
            <img src="/assets/student/home/001.jpeg" class="img-cover">
        </div>
        <div class="col-12 col-lg-6 margin-b order-1">
            <div class="golden-back">
                <div class="heading-3 mb-4 pt-5">VOLUNTEER FOR A SOCIAL CAUSE</div>
                <div class="para-2 pb-5">Achieve Your Goals</div>
            </div>
        </div>
    </div>
</div> -->


<% include ../layouts/footer %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.1/magnific-popup.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('#headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true
        });
    });
</script>